@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Dancing+Script&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    background-color: rgb(239, 239, 239);
    font-family: 'Playfair Display', 'Dancing Script', 'Crimson Text', serif;
    box-sizing: border-box;
}

h1 {
    font-size: 3.5rem;
    font-weight: 100;
}

button {
    background: none;
    border: none;
}

/* Header/about section */
.header {
    background: linear-gradient(160deg, #2e98b5 55%, rgba(0, 0, 0, 0) 55%);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-name {
    letter-spacing: 5px;
}

.portrait {
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.677);
}


.about-text {
    color: rgb(55, 54, 54);
    margin: 10px;
    font-family: 'Crimson Text', serif;
    font-size: 1.85rem;
}

.about-icons{
display: none;
}

.twitter {
    filter: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(20%) hue-rotate(127deg) brightness(95%) contrast(104%);
}

/* Work/project section */
.work {
    font-family: 'Playfair Display', serif;
}

.project {
    padding: 0;
    border: 0;
    width: 85%; 
    display: flex;
    flex-direction: column;
    place-self: center;
    font-family: 'Playfair Display', serif;
    box-shadow: 1px 2px 10px black;
    background-color: white;
}


.one > .screenshot {
    background-color: rgb(100, 100, 150);
}
.two > .screenshot {
    background-color: rgb(203, 101, 27);
}
.three > .screenshot {
    background-color: rgb(71, 154, 62);
}
.four > .screenshot {
    background-color: rgb(196, 78, 163);
}
.five > .screenshot {
    background-color: rgb(91, 127, 208);
}
.six > .screenshot {
    background-color: rgb(51, 120, 44);
}

/* Contact/footer Section */
.contact {
    color: white;
    background-color: #2e98b5;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 25px 15px;
}

.contact-header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    font-size: 2.5rem;
    font-family: 'Playfair Display';
}

.contact-text {
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    font-size: 1.75rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.contact-text {
    font-size: 1.75rem;
    width: 100%;
}

.address {
    font-size: 1.75rem;
}

.contact-info {
    margin: 2px;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.contact-phone a, .contact-email a {
    text-decoration: none;
    color: inherit;
}

.contact-icons {
    display: flex;
    gap: 40px;
}

.contact-icons > * {
    width: 3rem;
    height: 3rem;
}


/*  //////------------------ Desktop ------------------////// */

@media (min-width: 1001px) {

    body {
        box-sizing: border-box;
    }

    h1 {
        font-size: 3rem;
    }

    /* Header/about Section */
    .header {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background: linear-gradient(165deg, #2e98b5 65%, rgba(0, 0, 0, 0) 65%);
        padding-bottom: 8rem;
    }

    .header-name {
        position: absolute;
        top: 26rem;
        left: 4rem;
        z-index: 1;
        color: white;
        letter-spacing: 3px;
        text-shadow:  1px 2px 2px rgba(0, 0, 0, 0.706);
    }

    .portrait {
        position: absolute;
        left: 5%;
        top: 8%;
        height: 30rem;
        width: 25rem;
    }


    .portrait img {
        margin: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .empty-div {
        display: block;
        width: 26rem;
        height: 26rem;
        float: inline-start;
        position: relative;
    }
    
    .about-div {
        display: inline;
        margin: 5%;
        margin-top: 10%;
        background-color: rgb(255, 255, 255);
        height: 25rem;
        font-family: 'Playfair Display', serif;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.677);
    }

    .about-header {
        margin: 1rem;
    }
    
    .about-text {
        font-size: 1.5rem;
    }

    .about-icons{
        display: flex;
        justify-content: flex-end;
        padding: 2rem;
        gap: 1.5rem;
    }

    .about-icons > button > img{
        height: 2rem;
        width: 2rem;
    }

    .icons button {
        background: none;
        border: none;
    }

    /* Work/project section */
    .work {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 75px;
        width: 100vw;
        padding: 1.25rem;
    }

    .work-header {
        margin-bottom: 0;
        grid-column: span 3;
        text-align: left;
        margin-left: 5%;
    }

    .project {
        padding: 0;
        border: 0;
        width: 85%;
        height: 22rem;
        display: flex;
        flex-direction: column;
        place-self: center;
        margin-top: 25px;
        font-family: 'Playfair Display', serif;
        box-shadow: 1px 2px 10px black;
        background-color: white;
    }
    
    .screenshot {
        box-sizing: border-box;
        width: 100%;
        height: 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 2.75rem;
        padding: 50px;
        font-family: 'Playfair Display', serif;
        color: white;
    }
    
    .project-info {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1rem;
    }
    
    .project-name {
        font-size: 1.5rem;
    }
    
    .project-info > .icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    
    .icons > * {
        width: 25px;
        height: 25px;
    }
    
    .project-description {
        margin: 0 1.2rem;
        font-size: 1rem;
        text-align: left;
    }
    
    /* Contact/footer Section */
    .contact {
        grid-template-columns: 1fr 1.25fr;
        padding: 2.5rem;
        align-items: center;
    }

    .contact-text {
        height: 100%;
        display: flex;
        gap: .75rem;
        font-size: 1.5rem;
    }

    .contact-text p {
        margin: 0;
    }
    
    .contact-phone, .contact-email {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        font-size: 1.25rem;
        align-items: center;
    }

    .phone-icon, .email-icon {
        fill: white;
        height: 1.5rem;
        width: 1.5rem;
    }

    .footer-portrait {
        display: flex;
        justify-self: right;
        height: 100%;
        width: 90%;
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }

    .footer-portrait img {
        margin: 0;
        overflow: hidden;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}


/*  //////------------------ Tablets ------------------////// */
@media (min-width: 601px) and (max-width: 1000px) /*Tablets*/ {    
    body {
        box-sizing: border-box;
    }

    /* Header/about Section */
    .header {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }


    .header-name {
        position: absolute;
        top: 0;
        left: 35%;
        z-index: 1;
        color: white;
        letter-spacing: 5px;
    }


    .portrait {
        position: absolute;
        left: 5%;
        top: 8%;
        height: 26rem;
        width: 22rem;
    }


    .portrait img {
        margin: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .about-div {
        display: inline;
        margin: 5%;
        margin-top: 15%;
        background-color: rgb(255, 255, 255);
        width: 80%;
        height: 85%;
        font-family: 'Playfair Display', serif;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.677);
    }

    .empty-div {
        display: block;
        width: 21rem;
        height: 21rem;
        float: inline-start;
        position: relative;
    }
    
    .about-header {
        font-size: 2.5rem;
        margin: 0;
        margin-top: 55px;
        text-align: center;
    }
    
    /* Work/project Section */
    .work {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-content: space-evenly;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 75px;
        width: 100vw;
    }

    .work-header {
        margin-bottom: 0;
        grid-column: span 2;
        text-align: left;
        margin-left: 5%;
    }


    .project {
        padding: 0;
        border: 0;
        width: 85%;
        height: 450px;
        display: flex;
        flex-direction: column;
        place-self: center;
        margin-top: 25px;
        font-family: 'Playfair Display', serif;
        box-shadow: 1px 2px 10px black;
        background-color: white;
    }
    
    .screenshot {
        box-sizing: border-box;
        width: 100%;
        height: 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 2.75rem;
        padding: 50px;
        font-family: 'Playfair Display', serif;
        color: white;
    }
    
    .project-info {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1rem;
    }
    
    
    .project-name {
        font-size: 1.5rem;
    }
    
    .project-info > .icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    
    .icons > * {
        width: 25px;
        height: 25px;
    }
    
    .project-description {
        margin: 0 5px;
        font-size: 1.2rem;
    }
    
    /* Contact/footer Section */
    .contact-phone, .contact-email {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        font-size: 1.25rem;
        align-items: center;
    }

    .phone-icon, .email-icon {
        fill: white;
        height: 1.5rem;
        width: 1.5rem;
    }

    .footer {
        background-color: lightgray;
    }


    .footer-portrait {
        display: flex;
        height: 30rem;
        width: 20rem;
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }

    .footer-portrait img {
        margin: 0;
        overflow: hidden;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    }

/*  //////------------------ Small Screens ------------------//////   */

@media (max-width: 600px) {    

    h1 {
        font-size: 5rem;
        font-weight: 100;
    }
    
    /* Header/about Section */
    .header {
        background: linear-gradient(150deg, #2e98b5 25%, rgba(0, 0, 0, 0) 25%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-name {
        font-size: 5.5em;
        position: absolute;
        top: 15%;
        left: 5%;
        color: white;
        letter-spacing: 1px;
    }
    
    .empty-div {
        display: none;
    }

    .portrait {
        margin: 1rem;
        overflow: hidden;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .portrait img {
        width: 100%;
    }
    
    .about-div {
        width: 85%;
        font-family: 'Playfair Display', serif;
        text-align: center;
        box-shadow: none;
        font-size: 1rem;
    }

    .about-header {
        font-size: 4rem;
        margin-bottom: 0.25rem;
    }
    
    .about-text {
        color: rgb(55, 54, 54);
        text-align: left;
        font-family: 'Crimson Text';
        font-size: 2.5rem;
    }
    
    .about-icons{
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .about-icons > button > img{
        height: 3rem;
        width: 3rem;
    }

    .icons button {
        background: none;
        border: none;
    }
    
    .linkedin, .github {
        height: 3em;
        width: 3em;
    }
    
    /* Work/project Section */
    .work {
        display: grid;
        gap: 10px;
        justify-content: space-evenly;
        font-family: 'Playfair Display';
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 75px;
    }
    
    .work-header {
        margin-bottom: 0.25rem;
    }
    

    .project {
        padding: 0;
        border: 0;
        height: 50em;
        display: flex;
        flex-direction: column;
        place-self: center;
        margin-top: 25px;
        font-family: 'Playfair Display', serif;
        box-shadow: 1px 2px 10px black;
        background-color: white;
    }
    
    .screenshot {
        width: 100%;
        height: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4.75em;
        font-family: 'Playfair Display', serif;
        color: white;
    }
    
    .project-info {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .project-name {
        font-size: 2.5em;
    }
    
    .link {
        width: 3em;
        height: 3em;
    }
    
    .project-description {
        margin: .5em;
        font-size: 2.25em;
    }

    .project-info > .icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    
    .icons > * {
        width: 45px;
        height: 45px;
    }
     
    /* Contact/footer Section */
    .contact {
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-evenly;
        font-family: 'Playfair Display';
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 0;
        padding: 0;
    }

    .contact-header {
        display: flex;
        justify-content: center;
        padding: .5em;
    }

    .contact p {
        font-size: 1em;
        margin: 15px;
    }

    .contact-text {
        display: grid;
    }

    .contact .contact-phone, .contact .contact-email {
        font-size: .75em;
        margin: 5px 15px;
    }

    .contact-icons {
        justify-content: center;
        padding: 1em;
    }

    .phone-icon, .email-icon {
        display: none;
    }

    .footer-portrait {
        display: flex;
        height: 100vh;
        width: 100vw;
    }
    
    .footer-portrait img {
        margin: 0;
        overflow: hidden;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

}
